* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.signForm {
  flex: 2;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.content-img {
  width: 40%;
}

.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sigup-heading {
  font-size: 4rem;
  color: #3ac1ba;
  font-weight: 700;
  text-align: center;
}

/* sign up form  */

.signup-form {
  width: 500px;
  margin: auto;
}

.signup-form label {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.signup-form input {
  border-radius: 10rem;
  outline: none;
  border: 0.5px solid #b0b0b0;
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.password-visible {
  border: 0.5px solid #b0b0b0;
  display: flex;
  border-radius: 10rem;
  padding: 0 1rem;
  align-items: center;
}

.password-visible img {
  cursor: pointer;
}

.password-visible input {
  flex: 1;
  background: transparent;
}

.privacy {
  font-size: 1.9rem;
  text-align: center;
  color: #5d5d5d;
  padding: 1rem;
  line-height: 1.7;
}

.privacy span {
  text-decoration: underline;
  color: #141414;
}

button {
  background-color: #1b066c;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10rem;
  padding: 1.5rem 2rem;
  margin: 2rem 0 !important;
  color: #fff;
  font-size: 1.7rem !important;
  cursor: pointer;
}

button:hover {
  background-color: #3815c7;
}

.redirect {
  font-size: 1.6rem;
  text-align: center;
}

.redirect-login {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  align-items: center;
  color: #5d5d5d;
}

.fp-intro {
  font-size: 1.7rem;
  text-align: center;
  color: #5d5d5d;
  margin-bottom: 3rem;
}

.redirect-fp {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-size: 1.2rem;
}

.redirect a {
  color: #3ac1ba;
}

.redirect-fp a {
  text-decoration: none;
  font-weight: 700;
}

/* social  */

.social {
  display: flex;
  gap: 3rem;
  padding-top: 2rem;
}

.social div {
  display: flex;
  gap: 0.4rem;
}

.social div p {
  font-size: 1.1rem;
}

@media screen and (max-width: 650px) {
  .content {
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .signForm {
    padding: 4rem 3rem;

    width: 100%;
  }

  .signup-form {
    width: 100%;
    /* margin: auto; */
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }

  .sigup-heading {
    font-size: 3rem;
  }

  .social {
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }

  .content-img {
    width: 100vw;
  }

  .redirect-login {
    font-size: 1.1rem;
  }
}
